@model RoyalAirlines.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(../../images/img_bg_2.jpg)">
    <div class="overlay"></div>
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0 text-left">
                <div class="row row-mt-15em">

                    <div class="col-md-7 mt-text " data-animate-effect="fadeInUp">
                        <h1>@ViewBag.Title</h1>
                    </div>

                </div>

            </div>
        </div>
    </div>
</header>

<div class="gtco-section border-bottom">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8">
                <h4>Change your account settings</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                </dl>
            </div>
        </div>
    </div>
</div>


<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    
</div>
